apiVersion: apps/v1
kind: Deployment
metadata:
  name: pods-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      env: dev
  template:
    metadata:
      labels:
        env: dev
    spec:
      containers:
        - name: c1
          image: devlila/index.html:v1
          ports:
            - containerPort: 80
---

apiVersion: v1
kind: Service
metadata:
  name: my-serve
spec:
  selector:
    env: dev
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
